numpy
tqdm
opencv-python
matplotlib
pillow
pyyaml
rasterio
geopandas
shapely
torch==2.5.1
torchvision==0.20.1
tqdm
scikit-image
scikit-learn
rich
fiona
pyproj
torchmetrics
segmentation-models-pytorch
